body {
    font-family: "Century Gothic", Verdana, Geneva, Tahoma, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    display: block;
}

#render-container {
    margin: 8px auto;
    text-align: center;
}

.controls-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 20px;
}

.controls-container > label {
    width: 300px;
    padding: 8px;
}

.footer-container {
    font-size: 12px;
    padding: 8px 28px;
}

#source-code-dialog {
    visibility: hidden;
    box-sizing: border-box;
    position: fixed;
    top: 16px;
    left: 20%;
    right: 20%;
    bottom: 16px;
    background-color: #eeeeee;
    border-radius: 8px;
    padding: 18px;
    opacity: 0;

    transition: opacity ease-out 0.3s, visibility ease-out 0.3s;
}

#source-code-dialog > pre {
    height: calc(100% - 48px);
}

#source-code-dialog.visible {
    visibility: visible;
    opacity: 1;
}

#source-code {
    overflow-x: scroll;
    max-height: 100%;
}

a {
    display: block;
    color: #940000;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: auto;
    padding: 8px;

    transition: color ease-out 0.3s;
}

a:hover {
    color: #750000;
}

button {
    font-family: "Century Gothic", Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: #ffffff solid 1px;
    border-radius: 0.25em;
    background-color: #101010;
    color: #ffffff;
    padding: 0.5em;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;

    transition: background-color 0.3s ease-out;
}

button:not(:disabled):hover {
    background-color: #202020;
}

@media screen and (max-width: 1200px) {
    #source-code-dialog {
        left: 8px;
        right: 8px;
    }
}
